<mlsk-global-loader></mlsk-global-loader>
<div>
  <div><a routerLink="/dashboard">dashboard</a></div>
  <div><a routerLink="/stock">stock</a></div>
  <div><a routerLink="/shopping-list">shopping-list</a></div>
  <div><a routerLink="/meal-plan">meal-plan</a></div>
  <div><a routerLink="/recipes">recipes</a></div>
  <div><a routerLink="/insights">insights</a></div>
  <div><a routerLink="/settings">settings</a></div>
  <div><a routerLink="/todo">todo</a></div>
</div>
<router-outlet></router-outlet>